html,
body,
#root {
  height: 100%;
}

.welcome-page {
  cursor: none;
}

.welcome-page .custom-cursor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(3, 54, 117, 0.712);
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition:
    width 0.2s,
    height 0.2s;
  filter: blur(20px);
}

html.dark .welcome-page .custom-cursor {
  background-color: rgba(3, 54, 117);
}

@media (max-width: 768px) {
  .welcome-page .custom-cursor {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888888a1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888888c2;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #5e5e5ea1;
  border-radius: 5px;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #888888c2;
}
